.header {
    background-color: #ffffff;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Source Sans Pro', serif;
}

.navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 24px;
    padding-right: 24px;
    height: 70px;
}

.empty {
    flex:1;
    width: 2rem;
    display: block;
}

.backContainer {
    flex:1;
}

.barLink{
    color:#17488D;
    font-weight: 600;
    line-height: 1.6;
    font-size: 1.5rem;
    margin-left: 24px;
    text-decoration: none;
}

.backBtn {
    background-color: transparent;
    border:none;
    background: url("../images/business.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    padding:0;
    cursor: pointer;
    outline:none;
}



.title {
    color: #17488D;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.6;
    text-transform: uppercase;
    margin:0;
}

.links {
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.homeLink {
    color: #17488D;
    text-decoration: none;
}

@media screen and (max-width:500px){
    .title {
        font-size: 1.5rem;
    }
}