.header {
    background-color: #f7f3f3;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Source Sans Pro', serif;
}
.logo {
    background-color: transparent;
    background: url("../images/logo.png");
    border:none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    padding:0;
    cursor: pointer;
    outline:none;
}
.navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 24px;
    padding-right: 24px;
    height: 70px;
}

.backContainer {
    flex:1;
}

.barLink{
    color:#17488D;
    font-weight: 600;
    line-height: 1.6;
    font-size: 1.5rem;
    margin-left: 24px;
    text-decoration: none;
}

.links {
    font-family:'Roboto', sans-serif;
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.categorylinks {
    display: flex;
}
.catLink{
    color:#17488D;
    line-height: 1.6;
    font-size: 1rem;
    margin: 10px;
    text-decoration: none;
}

@media screen and (min-width:600px){
    .barLink{
        font-size: 1.0rem;
    }
}
@media screen and (min-width:900px){
    .barLink{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:1200px){
    .barLink{
        font-size: 1.5rem;
    }
}