.section {
  background-color: rgb(229, 231, 233);
  margin-top: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
}

