.section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(229, 231, 233);
}
.imageContainer {
  margin-top: 70px;
  width: 100%;
  height: 20rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: 'Roboto', sans-serif;
}
.content{
  font-family: 'Open Sans', sans-serif;
}

.link {
  font-size: 3rem;
  color: black;
}

@media screen and (min-width:600px){
  .imageContainer {
    height: 15rem;
  }
}
@media screen and (min-width:900px){
  .imageContainer {
    height: 18rem;
  }
}
@media screen and (min-width:1200px){
  .imageContainer {
    height: 20rem;
  }
}
