.course {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(238, 231, 231);
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', serif;
    justify-content: space-between;
    width: 20rem;
    text-decoration: none;
    padding-bottom: 1rem;
}

.link {
    text-decoration: none;
    color:black;
}

.imageBlock {
    height: 14rem;
    display: flex;
    place-content: center;
}

.image {
    border-radius: 10px;
    width: auto; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.courseInfoBlock {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin:0;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: black;

}

.price {
    margin:0;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: red;
}
.time {
    font-size:15px;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-weight: 500;

}

@media screen and (min-width: 500px) {
    .product {
        width: 25rem;
    }
}

@media screen and (min-width: 700px) and (max-width:900px) {
    .product {
        width: 20rem;
    }
}
