.course {
    
}

.link {
    
}

.imageBlock {
    
}

.image {
    border-radius: 10px;
    width: auto; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.courseInfoBlock {
    
}

.title {
    

}

@media screen and (min-width: 500px) {
    .product {
        width: 25rem;
    }
}

@media screen and (min-width: 700px) and (max-width:900px) {
    .product {
        width: 20rem;
    }
}
