
.footer{
    background-color: #f7f3f3;
    left: auto;
    right: 0;
    position: bottom;
    width: 100%;
    z-index: 1;
}
.links{
    flex:1;
    display: flex;
    justify-content: center;
    
}
.link{
    margin-left: 50px;
    margin-right: 50px;
    color:#17488D;
}