.section {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 231, 233);
    padding-bottom: 3rem;
}
.form{
    display: flex;
    flex-direction: column;
    place-items: left;
    padding-bottom: 3rem;
}
.label{
    font-family: 'Roboto', sans-serif;
}
.button{
    margin-left: 10px;
    margin-right: 10px;
}